<div class="cde-view">
  {{cde-view-menu cde=model}}
  <div class="container-fluid">
    <h1 class="text-primary cde">{{model.text}}</h1>
    {{liquid-outlet}}
  </div>
  {{cde-view-footer siteQuestion=model}}
</div>