<br/><br/>
<div class="row justify-content-md-center">
  <div class="col-12 col-md-8">
    <div class="jumbotron">
      <h1>Could not load data from server<br/><small class="text-muted">Please refresh the page to try again</small></h1>
    </div>
  </div>
</div>
