<div class="container-fluid cde-footer">
  <div class="row">
    <div class="col-12 text-center text-sm-right">
      {{#link-to 'cde-view.index' siteQuestion.name class="btn btn-primary"}}
      <i class="fa fa-share"></i> Question {{/link-to}}
    </div>
  </div>
</div>