<div class="menu">
  <ul class="nav nav-tabs">
    <li class="project nav-item"><strong>LPDR</strong></li>
    <li class="nav-item">
      {{#link-to 'cde-version' class="nav-link"}}Home{{/link-to}}
    </li>
  </ul>
</div>