<div class="menu">
  <ul class="nav nav-tabs">
    <li class="project nav-item"><strong>LPDR</strong></li>
    <li class="nav-item">
      {{#link-to 'cde-view.index' cde.name class="nav-link"}}Home{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'cde-view.info' cde.name class="nav-link"}}Info{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'cde-view.codes' cde.name class="nav-link"}}Codes{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'cde-view.visibility' cde.name class="nav-link"}}Visibility{{/link-to}}
    </li>
  </ul>
</div>